-- Update RLS policies for cards table to allow card creation in owned packs
-- Drop existing policies
DROP POLICY IF EXISTS "Users can view cards from accessible packs" ON cards;
DROP POLICY IF EXISTS "Users can insert cards in owned packs" ON cards;
DROP POLICY IF EXISTS "Users can update cards in owned packs" ON cards;
DROP POLICY IF EXISTS "Users can delete cards in owned packs" ON cards;

-- Create new policies
CREATE POLICY "Users can view cards from accessible packs" ON cards
  FOR SELECT USING (
    pack_id IN (
      SELECT id FROM card_packs 
      WHERE is_builtin = true 
         OR owner_id = auth.uid()
    )
  );

CREATE POLICY "Users can insert cards in owned packs" ON cards
  FOR INSERT WITH CHECK (
    pack_id IN (
      SELECT id FROM card_packs 
      WHERE owner_id = auth.uid()
    )
  );

CREATE POLICY "Users can update cards in owned packs" ON cards
  FOR UPDATE USING (
    pack_id IN (
      SELECT id FROM card_packs 
      WHERE owner_id = auth.uid()
    )
  );

CREATE POLICY "Users can delete cards in owned packs" ON cards
  FOR DELETE USING (
    pack_id IN (
      SELECT id FROM card_packs 
      WHERE owner_id = auth.uid()
    )
  );